#msg-list {
    height: 80vh;
    overflow: auto;
    background-color: lightgoldenrodyellow;
}

#channel-list {
    height: 80vh;
    overflow: auto;
    background-color: aliceblue;
}

#sign-in {
    margin: 10px;
}