# Byte-compiled / optimized / DLL files
/__pycache__/
*.py[cod]

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Virtual Env
venv/

# Python Virtual Environment
bin/
lib/
pyvenv.cfg

# Flask
flask_session/

# Django stuff:
*.log
*.pot

# IDE
.idea