
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <title>baseblue</title>

    {% include 'chat/css.html' %}

</head>

<body>



<div class='container'>

    <div class='row border-bottom my-3 py-3'>

        <div class='col'>

            <h1 style="margin-left: 10px; margin-top:10px; font-family: 'Staatliches', cursive; font-size:45px">
                    <a href="{% url 'home' %}" style="font-family: 'Staatliches', cursive; font-size:45px; color: rgb(243, 211, 30);"> - ACADELLA Chat Room-</a>
                </h1>

        </div>

    </div>

{% block content %}

{% endblock %}

</div>





{% include 'chat/js.html' %}

{% block script %}

{% endblock %}



</body>

</html>