{% extends 'authenticate/base.html' %}

{% block title %} Edit list {% endblock %}




{% block content %}
<h2 class="text-center"> Edit Issue </h2>
	

		<form method="POST" action="">
	{% csrf_token %}

	{% if form.errors %}
		<div class="alert alert-warning alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
        <p>Your Form Has Errors...</p>
        {% for field in form %}
        	{% if field.errors %}

        		{{field.errors}}

        	{% endif %}

        {% endfor %}
      </div>
		
	{% endif %}

		{{ form.as_ul }}


	<input type="submit" value="Edit Issue" class="btn btn-secondary">
</form>
	

{% endblock %}




<form class="form-inline my-2 my-lg-0" method ="POST">
		{% csrf_token %}
		<input class="form-control mr-sm-2" type="search" placeholder="{{ item.item }}" value="{{ item.item }}" aria-label="Search" name="item">
		<input type="hidden" value="{{ item.completed }}" name="completed">
		<input class="form-control mr-sm-2" type="hidden" placeholder="{{ item.issuebelongs }}" value="{{ item.issuebelongs }}"  name="issuebelongs">

		

		<buttton class="btn btn-outline-secondary my-2 my-sm-0" type="submit"> Edit Item </buttton>
 


	</form>
