{% extends "authenticate/base.html" %}

{% load static %}

{% block content %}

<div class="container">
	<h3 class="subhead">Chat with
		{% if user != object.first %}{{ object.first }}
		{% else %}{{ object.second }}
		{% endif %}
	</h3>
<div class="row" style=" margin-left: 30px; height:350px">
	<div
		class="col-md-8" id="roll" 
		style="border-left: 3px rgb(41, 41, 95) solid; overflow-y:scroll; height: 300px; ">
		<ul id='chat-items' style="text-align: left">

			{% for chat in object.chatmessage_set.all %}

				<li>
					<font size="2">
						<b>
							{{ chat.user }}</b>
						says:</font>

					<br/>
					{{ chat.message }}
				</li>
				<br/><br/>
			{% endfor %}

		</ul>
	</div>
	<div class="col-md-3" style="border-left:3px rgb(41, 41, 95) solid; height: 300px">
		<table>
			<th>
				<p>members</p>
			</th>
			<td></td>
		</table>
	</div>
</div>



<form id='form' method='POST'> {% csrf_token %}
	<input type='hidden' id='myUsername' value='{{ user.username }}' />

{{form.as_p }}

<input type='submit' class="btn btn-secondary" style="width:170px; background-color: rgb(41, 41, 95); color:rgb(157, 196, 253)">

</form>

</div>

{% endblock %}



{% block script %}

<script src="{% static 'reconnecting-websocket.js' %}"></script>

<script>
//console.log(window.location)
var loc=window.location
var formData = $("#form")
var msgInput = $("#id_message")
var chatHolder = $("#chat-items")
var me = $("#myUsername").val()

var wsStart = 'ws://' 

if (loc.protocol == 'https:'){
	wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
var socket = new ReconnectingWebSocket(endpoint)

socket.onmessage = function(e){
	console.log("message", e)
	var chatDataMsg = JSON.parse(e.data)
	chatHolder.append("<li>"+ chatDataMsg.message + " via " + chatDataMsg.username + "</li>")
}
socket.onopen = function(e){
	console.log("open", e)
	formData.submit(function(event){
		event.preventDefault()
		var msgText = msgInput.val()
		//chatHolder.append("<li>" + msgText + " via " + me + "</li>")
		//var formDataSerialized = formData.serialize()
		var finalData={
			'message':msgText
		}

		socket.send(JSON.stringify(finalData))
		//msgInput.val('')
		formData[0].reset()
	})
}
socket.onerror = function(e){
	console.log("error", e)
}
socket.onclose = function(e){
	console.log("close", e)
}

</script>

{% endblock %}