{% extends 'authenticate/base.html' %}

{% block title %} To-do list {% endblock %}

{% block content %}


{% if messages %}
	{% for message in messages %}

		{{ message }}
	
	{% endfor %}



{% endif %}

<br/>

  	

	  {% if all_items %}
	  <div class="container">
		<h1
			id="Pname" class="subhead"
			style="font-family: 'Staatliches', cursive; margin:5px 20px">
			{{ program.programname }} - Issue
		</h1>
		<div class="row">
				<table class="textcontent"
				style="width:100%">
				<tr>
					<th>issue name</th>
					<th>program</th>
					<th>status</th>
					<th>delete</th>
					
				</tr>
				

		{% for things in all_items %}
			{% if things.completed %}
				<tr>
					<td class = "striker"> <a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
					<td class = "striker"> <a>{{ things.belongs }}</a></td>
					<td> <center> <a href="{% url 'uncross' things.id %}"> Compeleted </a></center></td>
					<td> <center> <a href="{% url 'delete' things.id %}"> Delete </a> </center></td>
				</tr>
			{% else %}
				<tr>
					<td> <a href="{% url 'edit' things.id %}">{{ things.item }}</a> </td>
					<td class = "striker"> <a>{{ things.belongs }}</a></td>
					<td> <center> <a href="{% url 'cross_off' things.id %}"> Not completed </a>  </center></td>
					<td> <center> <a href="{% url 'delete' things.id %}"> Delete </a> </center></td>
				</tr>
			{% endif %}

		{% endfor %}
	</table>
</div>
	

	{% endif %}

		<div class="row" style="text-align: center">
			<div class="col-md-12">
				<a href="{% url 'addnew' %}">
					<button class="btn btn-secondary" style="width:150px; background-color: rgb(41, 41, 95); color:rgb(157, 196, 253);">
						<b> New Item</b>
					</button>	
				</a>
			</div>
		</div>
	</div>
{% endblock %}