{% extends 'authenticate/base.html' %}
{% block content %}
<h2 class="text-center"> Add new program </h2>

<div class="container" style="text-align: center">

	<form method="POST" action="{% url 'addprogram' %}" style="display:block; margin-left:200px;margin-right:400px">
		{% csrf_token %}

		{% if form.errors %}
			<div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
            <p>Your Form Has Errors...</p>
            {% for field in form %}
            	{% if field.errors %}

            		{{field.errors}}

            	{% endif %}

            {% endfor %}
          </div>
			
		{% endif %}

			{{ form.as_ul }}

		  <br/><br/><br/><br/><br/><br/><br/><br/>
		<input type="submit" value="Add" class="btn btn-secondary" style="width:150px; background-color: rgb(41, 41, 95); color:rgb(157, 196, 253);margin-left: 200px">
	</form>

</div>
{% endblock %}