{% extends 'authenticate/base.html' %}

{% block title %} Project Page {% endblock %}

{% block content %}



<br/>

    

    {% if all_programs %}
    <table class="table table-boardered">

        {% for program in all_programs %}
            
                <tr>
                    <td> <a href="{% url 'detail' program.project_name %}">{{ program.project_name }}</a></td>
                    <td class = ""> <a>{{ program.start_date }}</a></td>
                    <td> <center>  {{program.project_description}}  </center></td>
                    
                </tr>
            

        {% endfor %}
    </table>
    {% endif %}

<a href="{% url 'addprogram' %}">
                <button class="btn btn-secondary" style="width:150px; background-color: rgb(41, 41, 95); color:rgb(157, 196, 253);">
                    <b> New Program</b>
                </button>   
            </a>







{% endblock %}


